@import "tailwindcss";

@theme {
    --color-green:#00e678;
    --color-white:#dcd8d3;
    --font-sans:'Inter';
    --font-mono:'Geist Mono';
    --font-mono-font-feature-settings:'ss09' on;
}   

html {
    @apply bg-white scroll-smooth;
}

body {
    @apply: font-mono text-sm;
}

.cta {
    @apply leading-tight p-4 inline-block hover:underline focus:outline-none focus-visible:bg-black focus-visible:text-white;
}

